/* ---------------------------------- title first styles -----------------------------
	------------------------------------------------------------------------------- */
.title_first {
  margin: 3rem 0; }
  .title_first h1 {
    font-size: 35px;
    line-height: 36px; }
