/* ---------------------------------- section video styles -----------------------------
	------------------------------------------------------------------------------- */
	
.video{
	margin-top: 3.5rem;
	@media only screen and (max-width: $breakpoint_3){
		text-align: center;
	}
	
	h4{
		display: inline-block;
	}
	
	.logo_eco{
		display: inline-block;
		position: relative;
		top: -4rem;
		right: -1rem;
		
		@media only screen and (max-width: $breakpoint_3){
			right: initial;
			top: initial;
		}
		
	}
	
}