/* ---------------------------------- foto bg styles -----------------------------
	------------------------------------------------------------------------------- */
	
.foto_bg{

	z-index: 0;
    position: absolute;
    bottom: -9%;
    left: 7%;
    max-width: 100%;
    
    @media only screen and (max-width: 1567px){
	    left: 3%;
    }
    
    @media only screen and (max-width: 1250px){
	    left: -10%;
    }
    
    @media only screen and (max-width: 1050px){
	    left: -20%;
    }
    
    //@media only screen and (max-width: $breakpoint_2){
	//	position: relative;
	//    max-width: initial;
	//    width: 40%;
	//    top: initial;
	//    bottom: initial;
	//    left: -1rem;
    //}
    
    @media only screen and (max-width: $breakpoint_2){
	    position: relative;
	    max-width: initial;
	    width: 80%;
	    top: initial;
	    bottom: initial;
	    left: initial;
    }
	
}