/* ---------------------------------- title first styles -----------------------------
	------------------------------------------------------------------------------- */
	
.title_first{
	margin: 3rem 0;
	z-index: 2;
	position: relative;
	
	h1{
		font-size: 35px;
		line-height: 36px;
	}
	
}