/* ------------------------ calculos bootstrap ------------------------
------------------------------------------------------------------------ */
$breakpoint_1: 1199px;
$breakpoint_2: 991px;
$breakpoint_3: 768px;
$breakpoint_4: 500px;

$color_white: #ffffff;
$color_black: #000000;
$color_blue: #00bae0;
$color_yellow: #e6d100;





